<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainueng.calorie.calories1">

    <application
        android:name=".Calories1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calories1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecordcalActivity" />
        <activity android:name=".ShowActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Calories1.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="mainueng.calorie.calories1.Work" />

        <activity android:name=".RecordBreakfast" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".CaloriePerDay"></activity>
    </application>

</manifest>
